.content_container {
  background: #fafafa;
  width: 100%;
  text-align: center;
}

.note-content {
  background: rgb(83, 226, 16);
  margin: 5px;
  display: inline-block;
  border: solid #000 1px;
  border-radius: 5px;
  width: 200px;
  height: 100px;
}

.note-checker {
  width: 15px;
  height: 15px;
  border: #000 1px solid;
  margin: 2px;
  display: inline-block;
  
}
.note-undone {
  background: #FF0000;
}

.note-done {
  background: #00FF00;
}


.cardViews{
  margin: 2%;
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.root {
background-color: bisque;
}
.containerAdd{
  top: 50%;
}
.noteCard{
  padding-top: 3%;
  margin: 2%;
  width: 20%;
  display: inline-block;
  background-color: black;
}
.btnLogout{
  margin-left: auto;
}

.headEmail{
  
}