.text{    
    color: black;
}
.authForm{
    border-width: 2px;
    border-style: solid;
    margin-left:200px;
    margin-right:300px;
    border-color: #777;
    padding: 0 20px;
    margin: 0 6px;
    max-width: 200px;
   
}
.container{
    max-width: 50%;
    margin-left:auto;
    margin-right:auto;

}
.formAuth{
    max-width: 50%;
    margin-left:auto;
    margin-right:auto;

}
.formBtn{
    max-width: 50%;
    margin-left:auto;
    margin-right:auto;

}