.authForm{
    border-width: 2px;
    border-style: solid;
    margin-left:200px;
    margin-right:300px;
    border-color: #777;
    padding: 0 20px;
    margin: 0 6px;
    max-width: 200px;
   
}
.cardView{
    margin: 2%;
    max-width: 50%;
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
  }

  .contentContainer{
    max-width: 50%;
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;

  }
